<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<handlers>
			<remove name="aspNetCore"/>
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified"/>
		</handlers>
		<aspNetCore processPath=".\ADgateway.exe" arguments=".\ADgateway.exe" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
			<handlerSettings>
				<handlerSetting name="stackSize" value="2097152" />
			</handlerSettings>
		</aspNetCore>
		<security>
			<authentication>
				<anonymousAuthentication enabled="false" />
				<windowsAuthentication enabled="true" />
			</authentication>
		</security>
	</system.webServer>
</configuration>